*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #dde;
}
.wrapper{
    margin: 0 auto;
    margin-top: 25px;
	width: 1000px;
	height: 800px;
	background-color: white;
	font-family: arial;
	border: 1px solid black;
}
.test{
    padding-top: 65px;
	margin-top: 25px;
	margin-bottom: 80px;
	margin-left: 360px;
    font-size: 20px;
}
/*.question{
	margin-top: 100px;
	margin-left: 200px;
	font-size: 20px;
}*/
.question{
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 180px;
	font-size: 20px;
}
.ul_answer{
	list-style-type: none;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20px;
	font-size: 18px;
}
/*.ul_answer input[checkbox]{
	width: 30px;
	height: 30px;
	border: 1px solid black;
	background-color: yellow;
	margin-right: 20px;
}*/

span{
	margin-left: 10px;
}
.submit{
	width: 210px;
	height: 40px;
	border: 1px solid black;
	background-color: yellow;
	margin-top: 40px;
	margin-left: 386px;
}